---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - vulpatcher.kubewarden.io.vulpatcher.kubewarden.io
  resources:
  - patchjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vulpatcher.kubewarden.io.vulpatcher.kubewarden.io
  resources:
  - patchjobs/finalizers
  verbs:
  - update
- apiGroups:
  - vulpatcher.kubewarden.io.vulpatcher.kubewarden.io
  resources:
  - patchjobs/status
  verbs:
  - get
  - patch
  - update
