---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - vulpatcher.kubewarden.io
  resources:
  - patchjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vulpatcher.kubewarden.io
  resources:
  - patchjobs/finalizers
  verbs:
  - update
- apiGroups:
  - vulpatcher.kubewarden.io
  resources:
  - patchjobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.sbomscanner.kubewarden.io
  resources:
  - vulnerabilityreports
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete

- apiGroups:
  - buildkit.seatgeek.io
  resources:
  - buildkittemplates
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete

- apiGroups:
  - buildkit.seatgeek.io
  resources:
  - buildkits
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete